.body {
    background-image: url("../images/background.png");
}

.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#contact {
    padding-right: 0px;
}
.name {
  background-color: #4AAAA5;
  color: white;
}

.nav-right {
  float: right;
}

.container {
    width: 960px;
    margin: auto;
}
.content{
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    margin: 10px 0px 10px 0px;
}
.margins{
    margin:10px;
}
hr {
    border-color: lightgray;
}
.about-me {
    color:#4AAAA5;
}
.profile-pic {
    width: 180px;
    height: 200px;
    float: left;
    margin: 0px 10px 10px 0px;
}
.lorem {
    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.footer {
    font-size: 10px;
    color: white;
    border-top: 5px solid #4AAAA5;
    background-color: #666666;
    height: 30px;
}

.footer-text {
    text-align: center;
    width: 960px;
    margin: auto;
    position: relative;
    bottom: 0px;
    margin-top: 15px;
}
