.body {
    background-image: url("../images/background.png");
}

.header {
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #cccccc;
}

.container {
    width: 960px;
    margin: auto;
}

.content {
    
}

.name {
    background-color: #4AAAA5;
    width: 160px;
    padding: 15px;
}

.profile-pic {
    width: 180px;
    height: 200px;
}

.footer {
    font-size: 10px;
    color: white;
    border-top: 5px solid #4AAAA5;
    background-color: #666666;
    height: 30px;
}

.footer-text {
    text-align: center;
    width: 960px;
    margin: auto;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
}
